<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  
<suite name="TestNGDemo" verbose="1" >
  <test name="LoginTest" >
    <classes>
      <!--  <class name="com.techhelpine.TestCases.TC_LoginTest_001" /> -->
       <class name="com.techhelpline.exceptionsdemo.TestNGExceptionHandling" />
    </classes>
  </test>
</suite>